@keyframes slideIn {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}
.details {
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 250px;
  animation: slideIn 0.5s ease-in-out;
}
.avatar {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
